<!-- <app-form></app-form> -->
<!--<app-instructions></app-instructions> -->
<mat-tab-group>
    <mat-tab label="form" routerLink="form">
        <app-form></app-form>
    </mat-tab>
    <mat-tab label="instructions" routerLink="instructions">
        <app-instructions></app-instructions>
    </mat-tab>
</mat-tab-group>
<!-- <a >form</a> -->
<!-- <a >instructions</a> -->
<!-- <br /> -->
<!-- 
<div>
    <button class="centre btn mc" (click)="downloadExcel()">Download</button>
</div> -->

<router-outlet></router-outlet>